.repo-details {
    .panel-body {
        padding: 15px 25px;
    }
    .repo-full-name {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .repo-description {
        color: gray;
        margin-bottom: 10px;
    }
}