
.app {
    margin: 10px auto;
    max-width: 600px;
    .app-header {
        font-size: 20px;
        padding-bottom: 2px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }
    .route-header {
        font-size: 16px;
        color: gray;
        margin-bottom: 6px;
    }
}